<!doctype html>
<html ⚡4email>
 <head><meta charset="utf-8"><style amp4email-boilerplate>body{visibility:hidden}</style><script async src="https://cdn.ampproject.org/v0.js"></script> 
   
  <style amp-custom>
@media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px; line-height:150% } h1 { font-size:30px; text-align:center; line-height:120% } h2 { font-size:26px; text-align:center; line-height:120% } h3 { font-size:20px; text-align:center; line-height:120% } h1 a { font-size:30px } h2 a { font-size:26px } h3 a { font-size:20px } .es-menu td a { font-size:16px } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px } *[class="gmail-fix"] { display:none } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left } .es-m-txt-r amp-img { float:right } .es-m-txt-c amp-img { margin:0 auto } .es-m-txt-l amp-img { float:left } .es-button-border { display:block } a.es-button { font-size:20px; display:block; border-width:10px 0px 10px 0px } .es-btn-fw { border-width:10px 0px; text-align:center } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100% } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%; max-width:600px } .es-adapt-td { display:block; width:100% } .adapt-img { width:100%; height:auto } .es-m-p0 { padding:0px } .es-m-p0r { padding-right:0px } .es-m-p0l { padding-left:0px } .es-m-p0t { padding-top:0px } .es-m-p0b { padding-bottom:0 } .es-m-p20b { padding-bottom:20px } .es-mobile-hidden, .es-hidden { display:none } .es-desk-hidden { display:table-row; width:auto; overflow:visible; float:none; max-height:inherit; line-height:inherit } .es-desk-menu-hidden { display:table-cell } table.es-table-not-adapt, .esd-block-html table { width:auto } table.es-social { display:inline-block } table.es-social td { display:inline-block } }
a[x-apple-data-detectors] {
	color:inherit;
	text-decoration:none;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	line-height:inherit;
}
.es-desk-hidden {
	display:none;
	float:left;
	overflow:hidden;
	width:0;
	max-height:0;
	line-height:0;
}
s {
	text-decoration:line-through;
}
body {
	width:100%;
	font-family:arial, "helvetica neue", helvetica, sans-serif;
}
table {
	border-collapse:collapse;
	border-spacing:0px;
}
table td, html, body, .es-wrapper {
	padding:0;
	Margin:0;
}
.es-content, .es-header, .es-footer {
	table-layout:fixed;
	width:100%;
}
p, hr {
	Margin:0;
}
h1, h2, h3, h4, h5 {
	Margin:0;
	line-height:120%;
	font-family:arial, "helvetica neue", helvetica, sans-serif;
}
.es-left {
	float:left;
}
.es-right {
	float:right;
}
.es-p5 {
	padding:5px;
}
.es-p5t {
	padding-top:5px;
}
.es-p5b {
	padding-bottom:5px;
}
.es-p5l {
	padding-left:5px;
}
.es-p5r {
	padding-right:5px;
}
.es-p10 {
	padding:10px;
}
.es-p10t {
	padding-top:10px;
}
.es-p10b {
	padding-bottom:10px;
}
.es-p10l {
	padding-left:10px;
}
.es-p10r {
	padding-right:10px;
}
.es-p15 {
	padding:15px;
}
.es-p15t {
	padding-top:15px;
}
.es-p15b {
	padding-bottom:15px;
}
.es-p15l {
	padding-left:15px;
}
.es-p15r {
	padding-right:15px;
}
.es-p20 {
	padding:20px;
}
.es-p20t {
	padding-top:20px;
}
.es-p20b {
	padding-bottom:20px;
}
.es-p20l {
	padding-left:20px;
}
.es-p20r {
	padding-right:20px;
}
.es-p25 {
	padding:25px;
}
.es-p25t {
	padding-top:25px;
}
.es-p25b {
	padding-bottom:25px;
}
.es-p25l {
	padding-left:25px;
}
.es-p25r {
	padding-right:25px;
}
.es-p30 {
	padding:30px;
}
.es-p30t {
	padding-top:30px;
}
.es-p30b {
	padding-bottom:30px;
}
.es-p30l {
	padding-left:30px;
}
.es-p30r {
	padding-right:30px;
}
.es-p35 {
	padding:35px;
}
.es-p35t {
	padding-top:35px;
}
.es-p35b {
	padding-bottom:35px;
}
.es-p35l {
	padding-left:35px;
}
.es-p35r {
	padding-right:35px;
}
.es-p40 {
	padding:40px;
}
.es-p40t {
	padding-top:40px;
}
.es-p40b {
	padding-bottom:40px;
}
.es-p40l {
	padding-left:40px;
}
.es-p40r {
	padding-right:40px;
}
.es-menu td {
	border:0;
}
a {
	font-family:arial, "helvetica neue", helvetica, sans-serif;
	font-size:14px;
	text-decoration:underline;
}
h1 {
	font-size:30px;
	font-style:normal;
	font-weight:normal;
	color:#333333;
}
h1 a {
	font-size:30px;
}
h2 {
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	color:#333333;
}
h2 a {
	font-size:24px;
}
h3 {
	font-size:20px;
	font-style:normal;
	font-weight:normal;
	color:#333333;
}
h3 a {
	font-size:20px;
}
p, ul li, ol li {
	font-size:14px;
	font-family:arial, "helvetica neue", helvetica, sans-serif;
	line-height:150%;
}
ul li, ol li {
	Margin-bottom:15px;
}
.es-menu td a {
	text-decoration:none;
	display:block;
}
.es-wrapper {
	width:100%;
	height:100%;
}
.es-wrapper-color {
	background-color:#F6F6F6;
}
.es-content-body {
	background-color:#FFFFFF;
}
.es-content-body p, .es-content-body ul li, .es-content-body ol li {
	color:#333333;
}
.es-content-body a {
	color:#1376C8;
}
.es-header {
	background-color:transparent;
}
.es-header-body {
	background-color:transparent;
}
.es-header-body p, .es-header-body ul li, .es-header-body ol li {
	color:#333333;
	font-size:14px;
}
.es-header-body a {
	color:#1376C8;
	font-size:14px;
}
.es-footer {
	background-color:transparent;
}
.es-footer-body {
	background-color:transparent;
}
.es-footer-body p, .es-footer-body ul li, .es-footer-body ol li {
	color:#333333;
	font-size:11px;
}
.es-footer-body a {
	color:#1376C8;
	font-size:11px;
}
.es-infoblock, .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li {
	line-height:120%;
	font-size:12px;
	color:#CCCCCC;
}
.es-infoblock a {
	font-size:12px;
	color:#2CB543;
}
a.es-button {
	border-style:solid;
	border-color:#31CB4B;
	border-width:10px 20px 10px 20px;
	display:inline-block;
	background:#31CB4B;
	border-radius:30px;
	font-size:18px;
	font-family:arial, "helvetica neue", helvetica, sans-serif;
	font-weight:normal;
	font-style:normal;
	line-height:120%;
	color:#FFFFFF;
	text-decoration:none;
	width:auto;
	text-align:center;
}
.es-button-border {
	border-style:solid solid solid solid;
	border-color:#2CB543 #2CB543 #2CB543 #2CB543;
	background:#2CB543;
	border-width:0px 0px 2px 0px;
	display:inline-block;
	border-radius:30px;
	width:auto;
}
</style> 
 </head> 
 <body> 
  <div class="es-wrapper-color"> 
   <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0"> 
     <tr> 
      <td valign="top"> 
       <table class="es-content" cellspacing="0" cellpadding="0" align="center"> 
         <tr> 
          <td align="center"> 
           <table class="es-content-body" style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center"> 
             <tr> 
              <td class="es-p20t es-p20b es-p20r es-p20l" align="left"> 
               <table cellspacing="0" cellpadding="0" width="100%"> 
                 <tr> 
                  <td class="es-m-p0r" width="560" valign="top" align="center"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation"> 
                     <tr> 
                      <td class="es-infoblock es-m-txt-c" align="left"><p>{{ previewText }}</p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table> 
       <table class="es-content" cellspacing="0" cellpadding="0" align="center"> 
         <tr> 
          <td align="center"> 
           <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center"> 
             <tr> 
              <td class="es-p20t es-p20b es-p20r es-p20l" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0"> 
                 <tr> 
                  <td width="560" valign="top" align="center"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation"> 
                     <tr> 
                      <td align="left" class="es-p15b"><h2 style="font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;">Hey, {{ name }}</h2></td> 
                     </tr> 
                     <tr> 
                      <td class="es-p20t" align="left"><p style="font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;">Só um lembrete que você tem um agendamento com {{ professional }} no dia {{ date }}.</p></td> 
                     </tr> 
                     <tr> 
                      <td class="es-p15t" align="left"><p style="font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;">Se você tiver alguma dúvida ou se precisar remarcar, é só mandar uma mensagem no {{ phone }}.</p></td> 
                     </tr> 
                     <tr> 
                      <td class="es-p20t" align="left"><p style="font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;">Boa semana!</p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table> 
       <table class="es-footer" cellspacing="0" cellpadding="0" align="center"> 
         <tr> 
          <td align="center"> 
           <table class="es-footer-body" width="600" cellspacing="0" cellpadding="0" align="center"> 
             <tr> 
              <td class="es-p20t es-p20b es-p20r es-p20l" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0"> 
                 <tr> 
                  <td width="560" valign="top" align="center"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation"> 
                     <tr> 
                      <td class="es-p20" align="center" style="font-size:0"> 
                       <table width="75%" cellspacing="0" cellpadding="0" border="0" role="presentation"> 
                         <tr> 
                          <td style="border-bottom: 1px solid #cccccc; background:none; height:1px; width:100%; margin:0px 0px 0px 0px;"></td> 
                         </tr> 
                       </table></td> 
                     </tr> 
                     <tr> 
                      <td class="es-p10t es-p10b" align="center"><p>Copyright © 2020 CinesioPro, Todos os direitos reservados.</p></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table> 
       <table class="es-content" cellspacing="0" cellpadding="0" align="center"> 
         <tr> 
          <td align="center"> 
           <table class="es-content-body" style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center"> 
             <tr> 
              <td class="es-p30b es-p20r es-p20l" align="left"> 
               <table width="100%" cellspacing="0" cellpadding="0"> 
                 <tr> 
                  <td width="560" valign="top" align="center"> 
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation"> 
                     <tr> 
                      <td class="es-infoblock" align="center" style="font-size:0"><a target="_blank" href="http://viewstripo.email/?utm_source=templates&utm_medium=email&utm_campaign=basic&utm_content=one_column"><amp-img src="../public/assets/footer-logo.png" alt width="125"></amp-img></a></td> 
                     </tr> 
                   </table></td> 
                 </tr> 
               </table></td> 
             </tr> 
           </table></td> 
         </tr> 
       </table></td> 
     </tr> 
   </table> 
  </div>  
 </body>
</html>